.project-album {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 50px 0;
  overflow: hidden;
}

.project-tile {
  display: flex;  
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  width: 420px;
  height: 280px;
  border: 2px solid lightgray;
  border-radius: var(--border-rad, 15px);
  box-shadow: 5px 5px 5px hsl(180, 0%, 20%);
  background-image: linear-gradient(to bottom right, white, lightgray); 
}

.project-inner-frame {
  background-color: transparent;
  width: 90%;
  height: 65%;
  margin-top: 5%;
  border-radius: var(--border-rad, 15px);
}

.project-image {
  border-radius: var(--border-rad, 15px);
  max-width: 100%;
  max-height: 100%;
  display: block;
  height: auto;
  margin: auto;
  background-size: cover;
  filter: grayscale(90%);
}

.project-image:hover {
  filter: none;
}
.project-caption {
  text-align: center;
  /* font-family: "Indie Flower"; */ 
  font-family: "Open sans", sans-serif;
  font-size: 18px;
  padding-top: 0px;
}

.project-left-1 {
  transform: rotate(-8deg);
}

.project-left-2 {
  transform: rotate(-5deg);
}

.project-center-1 {
  transform: rotate(-2deg);
}

.project-center-2 {
  transform: rotate(2deg);
}

.project-center-3 {
  transform: rotate(0deg);
}

.project-right-1 {
  transform: rotate(7deg);
}


footer {
  text-align: center;
}

.user-entry-borders {
  border: var(--form-border-format, 5px solid darkgray);
  border-radius: var(--form-border-rad, 15px);
  padding: 10px;
  width: 300px;
  outline: none;
  margin: 10px;
}

input {
  transition: box-shadow 0.3s;
}

input:focus {
  box-shadow: 0 1px 10px #999;
}

.button {
  text-align: center;
  font-size: 1.5em; 
  border-radius: var(--border-rad, 30px);
  border: 1px solid var(--light-high);
  padding: 10px;
}

.button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--dark-high);
  cursor: pointer;
}

.submit-button {
  //background-color: var(--dark-high);
  background-color: orange;
  color: var(--light-low);
}

#social-network {
  flex-flow: row nowrap;  
}

.social-icon {
  font-size: 2em;
  align-self: center;
  justify-self: flex-start;
  margin: 20px;
}

.timeline-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0;
}

.job-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.logo-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 1px solid var(--dark-high);
  box-shadow: 5px 5px 5px var(--dark-low);
  border-radius: 50%;
  margin: 20px;
}

.logo-box > img {
  max-width: 90%;
  display: block;
  height: auto;
}

.logo-box:hover {
  background-color: white;
}

.job-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  height: auto;
  border: 1px solid var(--dark-high);
  box-shadow: 1px 1px 5px var(--dark-low);
  border-radius: 5px;
}

.job-box > h3 {
  padding: 10px 0;
  margin: 0;
  width: 100%;
  background-color: var(--dark-high);
  color: var(--light-low);
  border-bottom: 1px solid var(--light-high);
}

.job-box > h4 {
  padding: 5px 0;
  margin: 0;
  width: 100%;
  background-color: var(--dark-low);
  color: var(--light-low);
  border-bottom: 1px solid var(--light-high);
}

.job-title {
  padding: 5px 0;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid var(--light-high);
}

.job-title:hover {
  background-color: var(--light-high);
  color: var(--dark-high);
  padding: 10px 0;  
  cursor: pointer;
}

.job-box-detail {
  display: none;
  text-align: center;
}

.job-title:hover .job-box-detail {
  display: flex;
  width: 100%;
  border-top: 1px solid var(--dark-high);
  background-color: var(--light-high);
  color: var(--dark-high);
  padding: 0 3px;
  margin: 0;
}

.education-container {
  display: flex;
  overflow-x: auto;
  height: auto;
}

.education-container img {
  margin: 0px auto;
  border: 1px solid var(--dark-high);
  border-radius: 5px;
  filter: grayscale(95%);
  //width: 300px;
  //height: 225px;
  transform: scale(0.8);
  align-self: center;
}


.education-container img:hover {
  filter: none;
  transform: scale(1.0);
  border: 5px solid var(--dark-high);
}

.education-container::-webkit-scrollbar {
  display: none;
}

.life-long-learning-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.box-learning {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--dark-low);
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.box-learning > h4 {
  background-color: var(--dark-high);
  color: var(--light-low);
  width: 100%;
  padding: 5px 20px 10px 20px;
  margin: 0;
}

.box-learning > p {
  background-color: var(--dark-low);
  color: var(--ligh-low);
  width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid var(--dark-low);
}

.box-learning p {
  background-color: var(--light-low);
  color: var(--dark-high);
  width: 100%;
  padding: 3px 5px;
  margin: 0;
  border: 1px solid var(--dark-low);
}

@media screen and (max-width: 950px) {
  body {
    font-size: 12px;
  }

  #welcome-section h1 {
    font-size: 2em;
    padding: 0;
    margin: 0;
  }

  #welcome-section h2 {
    font-size: 1.2em;
    width: 95%;
    margin: auto;
  }
  
  #expand_more { 
    font-size: 14px;
  }

  #expand_more1, #expand_more2 {
    font-size: 12px;
  }
  
  #about_me p {
    width: 100%;
    margin: auto;
    padding: 10px;
    line-height: 1.5em;
  }

  
  #navbar {
    font-size: 0.8em;
  }
  
  .nav-link {
    padding: 5px 10px;
  }
  
  .menuTitle {
    visibility: hidden; 
    display: none;
  }
  
  .timeline-container {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .job-container {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .life-long-learning-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  
  .box-learning > p {
    display: none;
  }
  
  #certifications {
    order: 1;
  }
  
  #education {
    order: 2;
  }
  
  #training {
    order: 3;
  }
}